[2015-09-10 13:34] jaxgeller opened #1 "Support 5 parameter easing functions"
Like this

[code]

[2015-09-10 13:37] jaxgeller commented on #1
Actually just make it clear that if you use the recommended easing functions, you need to drop `x`. or just support `x` param.

[2015-11-12 20:28] jaxgeller opened #2 "Prefer global on?"
got this while installing `jumper.js` via npm

[code]

[2015-11-12 20:34] jaxgeller opened #3 "es6 import not working"
[code]

errors out in the browser console. Using latest outset.

[2015-11-13 04:15] callmecavs commented on #2
i think thats the wrong package, jumper isn't on NPM yet.  current `package.json` doesn't have the `preferGlobal` key so it'll be okay when i publish it

[2015-11-13 04:16] #2 closed

[2015-11-13 20:41] jaxgeller commented on #2
Lol gotta change this then, tried installing it at least 10 times https://github.com/callmecavs/jumper.js/blob/master/package.json#L2

[2015-11-23 15:43] callmecavs commented on #3
install from NPM:

[code]

and then in your file:

[code]

it's a Common JS module, so you shouldn't have any problems with browserify/babelify

[2015-11-23 15:43] #3 closed

[2015-11-23 15:44] callmecavs commented on #1
per the new API custom easing isn't support. easeInOutQuad for the win

[2015-11-23 15:44] #1 closed

[2015-11-29 22:18] lipis opened #4 "Demo page would be nice."

[2015-11-30 00:36] callmecavs commented on #4
working on it :wink:

[2015-11-30 00:55] callmecavs commented on #4
just uploaded it, and added the URL to the repo. here it is for your convenience: http://callmecavs.github.io/jump.js/

[2015-11-30 00:55] #4 closed

[2015-11-30 09:46] AaronLayton opened #6 "Memory leak?"
Just had a quick check of this with the Timeline tool and I get the below

![2015-11-30_09h46_09](https://cloud.githubusercontent.com/assets/694964/11468420/3bee5f24-9747-11e5-88ab-40e612e4df7d.png)

[2015-11-30 09:51] JuhQ opened #7 "Stop scrolling when user is scrolling"
I think user behaviour should overwrite library behaviour. When user starts scrolling, it should stop scrolling. Imho this should be and optional feature.

[2015-11-30 12:29] iDuuck opened #8 "Don't use ES6 but vanilla JavaScript for this"
This is such a lightweight script. Why should it utilize ES6 over the good'ol vanilla javascript (ES5). When using the latter it's unnecessary to compile it and the gulpfile is not necessary (perhaps for multi-system compatibility such as support for Require.js, System.js and other module loaders).

What do you think?

[2015-11-30 12:29] lipis commented on #4
:dancer:

[2015-11-30 12:37] iduuck commented on #8
Another thing that should make the point: **Size**!

I just cloned your repo and the unminified script has a size of 2.4k. The compiled (es6) script has 1.2k and the vanilla js minified would have a total of 927b. This would be a good point.

[code]

[2015-11-30 14:09] VitoFamiglietti opened #9 "Bower support"
Hi!
First of all tanks for your work. I really appreciate this plugin. But could you add even the bower support?
Thanks :D

[2015-11-30 15:05] petehouston commented on #9
@callmecavs are you adding it to bower registry? If not, I can give a hand if okay.

[2015-11-30 15:20] mrenty opened #10 "Doesn't play nice with PhantomJS"
My tests throw an error when running in PhantomJS, it doesn't recognise Window.requestAnimationFrame().

[2015-11-30 15:44] callmecavs commented on #10
`window.requestAnimationFrame()` is a [real thing](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame), i promise. because Phantom runs a headless Webkit browser, perhaps the unprefixed version isn't supported?

you could try adding a shim - which would detect browser specific versions - or a polyfill. see [here](http://www.paulirish.com/2011/requestanimationframe-for-sm

[2015-11-30 15:44] #10 closed

[2015-11-30 15:49] callmecavs commented on #8
@iDuuck i see where you're coming from, but honestly to save 1 kb I'd rather use the latest spec, support more complex build processes (Common JS, AMD, etc), and somewhat "future proof" the library. nonetheless, I appreciate your efforts in providing the file size comparison.

[2015-11-30 15:49] #8 closed

[2015-11-30 15:49] mrenty commented on #10
Yeah you're right this isn't an issue with Jump but I was wondering if you already encountered this and found a solution for this. Will try it and will let you know 👍

[2015-11-30 15:52] callmecavs commented on #6
would you mind digging into this a bit further for me? I think the spike may be caused by `requestAnimationFrame` being called 60 times per second, to achieve a 60fps scroll. The scroll completing would explain the "cliff". In that case, I wouldn't think it's a memory leak. I know the Chrome dev tools allow you to dig into the JS stack and see what function(s) are being called, perhaps your tools

[2015-11-30 15:54] callmecavs commented on #10
please do, because in the future, if I'd like to write tests for this, I'd probably end up doing so using Phantom JS haha. thanks for your understanding

[2015-11-30 15:58] callmecavs commented on #7
will look into this - it may be as simple as adding a `scrolling` boolean, a scroll event handler, and calling `cancelAnimationFrame` if the library is scrolling when the user attempts to. thanks for you input, adding the enhancement label.

[2015-11-30 16:01] AaronLayton commented on #6
It could be as you say - I just went to your test site... hit record, pressed the go down button, pressed to go up button.

I havn't had chance to dig into it yet though, could it be creating variables every time rAF calls?

[2015-11-30 16:12] callmecavs commented on #6
the `_loop` function is what runs within each `requestAnimationFrame` call. that code is highlighted here: https://github.com/callmecavs/jump.js/blob/master/src/jump.js#L18-L31

it's only referencing and working with existing class properties - all that is created is more `requestAnimationFrame`s. therefore, I don't think this is related to creating variables. there is some math related to the eas

[2015-11-30 16:28] callmecavs commented on #6
![pasted image at 2015_11_30 11_22 am](https://cloud.githubusercontent.com/assets/2293641/11477277/3bddc34a-9755-11e5-9a0f-499388d6659d.png)

did some profiling in the Chrome dev tools, and I'm not seeing anything out of the ordinary. going to close this for now, as I believe what you're seeing is related to the `requestAnimationFrame` calls. if in your futher testing you come across something in

[2015-11-30 16:28] #6 closed

[2015-11-30 16:30] callmecavs commented on #6
here are some screenshots of the heap from the Chrome devtools as well:

![pasted image at 2015_11_30 11_29 am](https://cloud.githubusercontent.com/assets/2293641/11477396/c7cbe198-9755-11e5-9979-e476e134cd03.png)

![pasted image at 2015_11_30 11_30 am](https://cloud.githubusercontent.com/assets/2293641/11477440/f7e89d30-9755-11e5-8909-860e4b86a1c3.png)

seems as though everything from the lib is

[2015-11-30 16:32] callmecavs commented on #6
looping in @jaxgeller, as he helped with some of this profiling

[2015-11-30 16:58] callmecavs commented on #9
really torn here. I'm an ES6 proponent, and this is an ES6-first project. I believe that NPM isn't only for Node packages anymore. I'd like to encourage people transitioning to a modern workflow (ES6, module bundling), and away from script tags. Bower also doesn't support nested dependencies, which for this library isn't an issue, but is for many others. in all likelihood, projects using Bower are

[2015-11-30 16:58] #9 closed

[2015-11-30 18:26] BrainCrumbz opened #11 "Readme typo: Instance, instantialize"
Just a couple of suggestions in readme.md, mainly a matter of wording.

1. There's a section named [*Instance*](https://github.com/callmecavs/jump.js#instance), that maybe could be named something like *Instantiate* or *Create* or *Initialize*, to keep it aligned with the other two sections, that seem to be verbs (*Install*, *Jump*)

1. In that same section, it says *instantialize*, which I guess

[2015-11-30 19:08] callmecavs commented on #11
someone raised this issue on Reddit too haha, will definitely fix this. thanks for bringing it to my attention

[2015-11-30 23:37] #11 closed

[2015-12-01 02:41] Rajan opened #13 "Using with Meteor JS"
I'd like to use it with Meteor.
Is it possible to add as npm module and use it?
npm modules are accessible only on server with standard methods.
How can I use Jump.js with Meteor?

[2015-12-01 03:19] callmecavs commented on #13
the instructions to install jump.js from NPM are here: https://github.com/callmecavs/jump.js#install

the library is contained within a UMD wrapper, which supports Common JS (Node's module format), so in theory, it should work within Node - and thus Meteor.

i've never used Meteor myself, so beyond this, I'm afraid I can't be much help. good luck!

[2015-12-01 03:19] #13 closed

[2015-12-01 10:14] iDuuck opened #14 "Undefined versions in package.json"
I was just curious why there are all versions defined with a astericks. Don't know if this has a specific reason. But I think the dependency management should be controlled by the `package.json`?

[2015-12-01 13:42] Heydon opened #16 "Focus management"
It's not clear from the documentation that focus management is supported. That is, when jumping to a selector, this element would be focused so that keyboard interaction is localized to the newly "jumped to" element.

If this is not supported, I suggest there is an accessibility issue for keyboard and AT users and would be happy to answer any questions you might have about addressing it.

Thanks!

[2015-12-01 14:28] luizbills opened #17 "Use requestAnimationFrame polyfill to support old browsers"

[2015-12-01 15:16] callmecavs commented on #17
per the browser support section of the README - no plans to include the polyfill in the library in the interest of file size. included detailed browser support and what APIs the library depends on should someone choose to include it for their particular needs.

[2015-12-01 15:16] #17 closed

[2015-12-01 15:49] callmecavs commented on #16
the library doesn't currently do anything to manage the focus. in terms of addressing accessibility, and focusing the target after the jump is complete, is it as simple as calling `.focus()` on the element that's been scrolled to? i'm a bit naive when it comes to accessibility so I'd appreciate your input.

in the case of scrolling a fixed pixel amount, rather than to an element, is there anything

[2015-12-01 15:52] callmecavs commented on #14
the library is dependency free.

the only dependencies listed in the `package.json` are `devDependencies` -  build tools such as Gulp, browserify, etc. typically I dont version them because I like to ensure all the build tools are the latest versions, and because their versioning doesn't effect the functionality of the library. nonetheless, I appreciate you raising the issue, and i'll put some tho

[2015-12-01 15:52] #14 closed

[2015-12-01 15:56] iduuck commented on #14
Just to note this here: I am currently experiencing issues because of the new
version of `babel` and `gulp`. So it's telling me the following error:

[code]

[2015-12-01 15:57] callmecavs commented on #14
interesting, i'll look into it

[2015-12-02 10:03] iduuck commented on #14
Did some research and found a feasible answer. Some issues on the `gulp` repository are referring to `babel-core` that needs to be used since babel version `6.0.0`.

So I just updated my gulp-cli with `npm install -g gulp` and it was searching for `babel-core/register` and not `babel/register` anymore.

(That's the problem with the astericks as version)

I will do a pull request with the versions

[2015-12-02 19:59] callmecavs commented on #16
ping @Heydon

[2015-12-02 20:12] Heydon commented on #16
Hey Michael. Yeah, the element that is animated to should be focused at the
end of the animation (callback function, maybe?) The element should be made
programmatically focusable by giving it tabindex="-1" before you use the
focus() method on it. Hope that helps. Ask if you need anything more :-)

[2015-12-02 21:15] callmecavs commented on #16
sounds good, i'll take a shot at implementing this in the `_end()` method. this is the method that fires the callback, at the end of the jump

[2015-12-02 21:41] Heydon commented on #16
Oh, that sounds perfect. Nice one!

[2015-12-02 22:01] callmecavs commented on #16
does `-1` or `0` make more sense for the tabindex? looking at [this](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex), it seems as though `0` may be the better choice, because a negative value means the element would be otherwise unreachable by keyboard navigation

[2015-12-02 22:10] Heydon commented on #16
-1 means focusable but only programmatically. This is suitable because
you're only focusing the element to move the user into the right area. 0
would mean the element is permanently focusable, which would not be
suitable because (typically) it would not be an interactive element like a
link or button; just a container. Does that make sense?

[2015-12-02 22:18] callmecavs commented on #16
makes perfect sense. thanks for the great explanation. really happy you raised this issue. admittedly im not an expert on accessibility support - knowing i can add something like this to provide it is awesome

[2015-12-03 04:17] callmecavs commented on #16
@Heydon running into a problem with adding a `tabindex` and calling `focus()` on the element - browsers draw a blue outline around the element, like they would a form element, as seen in the screenshot below. is there any way you know of to avoid this?

<img width="1028" alt="screen shot 2015-12-02 at 11 09 44 pm" src="https://cloud.githubusercontent.com/assets/2293641/11551777/71ae9bba-994a-11e5-

[2015-12-03 04:19] callmecavs commented on #16
the code for this is on the focus branch if you want to play around with it: https://github.com/callmecavs/jump.js/tree/focus

[2015-12-04 12:46] ZoeBijl commented on #16
There are a few ways around this. The _**absolute worst**_—how do I stress this further?—thing to do is to disable the outline:

`element:focus { outline: none }`

A better way to do it is to animate that outline into oblivion on focus:

[code]

Another option that involves animation, but allows you to “make things prettier”: you can animate anything you want on focus. So you could disable the out

[2015-12-04 12:54] Heydon commented on #16
I actually disagree here. Tabindex="-1" programmatically focused elements
don't necessarily need a focus style. That the element / area is pulled
into view is enough. You can, however, get creative with animated focus
styles. Perhaps this should be communicated to potential authors?

[2015-12-04 13:15] ZoeBijl commented on #16
After thinking about it for a bit, that makes sense. I use animated focus styles for skip links, but not consistently it seems. I thought I read a WebAIM article on it once, but can only find one that advises to [use `animation` to keep (hidden) skip links visible](http://webaim.org/techniques/skipnav/) for a short period after you've focused them.

It would be good to add this to the documentatio

[2015-12-04 15:30] callmecavs commented on #16
my preference would be to include as little CSS in the library as possible. im happy to set `outline: none` on the element that's jumped to from the JS, but don't want to make a stylesheet required to use the library.

i'm leaning towards the solution above - adding the `tabindex`, calling `focus()`, disabling the outline, and mentioning accessibility in the README. that seems to be in line with b

[2015-12-04 15:55] ZoeBijl commented on #16
If there was something that prevented the outline being disabled on interactive elements; I would agree to that resolution.

CSS could look something like this—probably forgot a couple:

[code]

This is compliant with Jump.js' browser support.

[2015-12-04 18:43] callmecavs commented on #16
I only want to use CSS that I can control from JS, using the `style` prop on the element nodes. that rule requires getting more than just the element scrolled to, and injecting into the `<head>`, etc

much easier and cleaner to just do `target.style.outline = 'none'` and then make a note about it in the README

[2015-12-04 18:56] ZoeBijl commented on #16
Fair enough. It would be possible to check against the same list in JavaScript right? Some automation is desirable I think.

[2015-12-07 14:39] callmecavs commented on #16
@Heydon are thoughts on focusing the target element, and setting `outline: none` on it?

also, congrats on getting into the collective with your [flexbox writeup](https://medium.com/@Heydon/flexbox-grid-finesse-4d22b80bfee1#.tbwylep23), Jump is in it this week as well :beers:

[2015-12-07 14:40] callmecavs commented on #16
@MichielBijl if users are jumping to a form element, they can restore the outline in the callback function. rather than disable the outline for everything in that selector with JS, it'd be easier to just disable it on the target, and let the user re-enable it in the callback if necessary. what're your thoughts on that?

[2015-12-07 18:20] Heydon commented on #16
Oh, thanks! What's the collective?

I think I would personally just leave it to the author to remove that
outline if they so wished. That saves you from having to dirty your hands
with js/css.

[2015-12-07 18:32] ZoeBijl commented on #16
I'm with Heydon on this; some documentation or a reference to this issue, could help authors with understanding the issue with focus outlines. If that is a no go for what ever reason, `target.style.outline = 'none'` should do fine with a clear warning in the documentation.

[2015-12-07 20:16] Japegrape opened #22 "Arrow Functions & IE"
You claim IE 10+ support, yet you're using arrow function notation, which isn't supported in any version of IE:

http://caniuse.com/#feat=arrow-functions

Am I missing something?

[2015-12-07 22:06] callmecavs commented on #16
@Heydon Tympanus/Codrops does it - it's a weekly roundup of web design and development projects. here's the link to this weeks (that we're both in): http://tympanus.net/codrops/collective/collective-197/

@Heydon @MichielBijl okay, i guess I'll take a stab at not touching the outline and letting people handle it themselves. feel like it may lead to a lot of questions tho

[2015-12-07 22:08] callmecavs commented on #22
@Japegrape yes - the library is transpiled to ES5 syntax using Babel. check the [JS task in the gulpfile](https://github.com/callmecavs/jump.js/blob/master/gulpfile.babel.js#L33-L67).

if you're not familiar with transpiling - basically it allows the luxury of writing in the future syntax, but converts (compiles down) the code to the current syntax, for compatibility in current browsers.

[2015-12-07 22:08] #22 closed

[2015-12-08 12:04] straku opened #23 "Support for scrolling inside elements"
Did you think about adding support for scrolling inside elements? I think that it could be used like this:
[code]
I know that it would require rather significant changes in the way that scrolling is handled, but maybe it is a nice idea for future improvements.

[2015-12-08 15:51] callmecavs commented on #23
will definitely consider it for a future enhancement - not sure the juice is worth the squeeze though, because I think the predominant use case for smooth scrolling is in relation to the page.  added the enhancement label, will put some thought into it

[2015-12-08 16:27] straku commented on #23
Don't think about it in terms of simple websites (like landing pages) but rather _SPA_. In my experience it is quite common to have fixed navbar and menu and all of application elements in a single panel. With scrolling on `window` object it is impossible to use `Jump.js` in this situation. There are other libraries that support this behavior ([example](https://github.com/madebysource/animated-scr

[2015-12-08 16:31] callmecavs commented on #23
fair point about SPAs, definitely worth supporting them if possible.  I'll likely implement it, but it might be a week or 2 down the road

[2015-12-10 20:27] mrenty commented on #23
I added this enhancement with fallback for the `window`, and prepared [PR #24](https://github.com/callmecavs/jump.js/pull/24) for this.

[2016-01-28 16:36] callmecavs opened #25 "allow passing a node as a target - not just a selector string"

[2016-01-28 22:20] saarons opened #26 "Serve non-minified version of jump.js"
I get the following error in my application when using jump.js with Webpack. Since most people are doing minimization anyways later in their compilation pipelines, shouldn't jump.js try to serve a non-minified file? It would be just one change in the gulpfile I think.

[code]

[2016-02-08 21:56] #25 closed

[2016-02-11 22:20] vincentorback commented on #26
I’m just taking a wild guess the `"main": "dist/jump.min.js"` in the `package.json` is what’s npm is using to decide which file to use? I vote +1 to change it to the non-minified file.

[2016-02-11 22:23] saarons commented on #26
Correct, that's what npm is using to decide on the minified file. I think this requires a small code change to change the build script to not minify, but I'm not 100% sure.

[2016-02-11 22:39] callmecavs commented on #26
@vincentorback @saarons makes sense, since people using this from NPM must be using a module bundler and are likely minifying their build anyways. I want to support ES6 practices and workflow above all else, and I think this suggestion is in line with that.

the relevant line of the `gulpfile` is [here](https://github.com/callmecavs/jump.js/blob/master/gulpfile.babel.js#L60). removing that will ke

[2016-03-18 13:39] electerious opened #28 "Instantiate necessary? (API change suggestion)"
Hi,

I'm wondering why it's necessary to instantiate jump.js. It looks like this instance holds no decided information and there's no way to pass options to it. Instances are normally uses to hold data, which doesn't seems to be the case here. I think the API would be much simpler and cleaner when we could use jump directly:

[code]

Great work anyway!

[2016-03-18 13:44] electerious commented on #28
I think using `class` might not be the best choice here. You could export the main function directly.

Let me know if this is a welcome change, so I can take a closer look at it and open a PR.

[2016-03-19 09:03] mgiulio commented on #28
100% agree.
I have an article on Sitepoint in peer-review stage about smooth scrolling where I present a modified/refactored(that is, the core animation code is the same) version of Jump.js, and the above two suggestions by @electerious are two of the applied customizations.
Just my 0.02€,
mg

[2016-03-20 07:41] callmecavs commented on #28
@electerious @mgiulio you're both correct imo. all the options have sensible defaults, except the target and duration, which I'm fine with being required. I've been planning on a v1.0.0 release that removes the `class` structure, and uses the revealing module pattern, similar to my libraries I've updated/released recently. I'm certainly open to a pull request accommodating this change if either of

[2016-03-24 10:31] mgiulio commented on #28
Hi @callmecavs , sorry for the late reply.

I'm too busy for a PR now but I could send you the draft, so you can see my code changes and review the article. Just let me know.

mg

[2016-05-02 13:25] cattermo commented on #26
Will this be implemented any time soon?

[2016-05-08 14:14] mgiulio commented on #28
Hi @callmecavs, the article is [out](http://www.sitepoint.com/smooth-scrolling-vanilla-javascript/) !

[2016-05-12 09:19] ghost commented on #26
For those waiting, Sitepoint offers a ES5 version in an article about this lib. Don't know the diff to the last version, but seems to work and includes an accessibility bugfix as a bonus. http://www.sitepoint.com/smooth-scrolling-vanilla-javascript/

(Note: I'm not affiliated with them, just thought it is worth pointing out while this case is open)

[2016-05-14 05:17] callmecavs opened #31 "v1.0.0"
Is on the way!

The following will **absolutely be included**:

1. follow the singleton pattern, and take a purely functional approach ([no instantiation necessary](https://github.com/callmecavs/jump.js/issues/28))
2. [accessibility](https://github.com/callmecavs/jump.js/issues/16), behind an option (boolean/flag), because it requires CSS to prevent a default blue `outline` from showing on the ele

[2016-05-14 05:17] callmecavs commented on #28
please see #31

[2016-05-14 05:17] #28 closed

[2016-05-14 05:20] callmecavs commented on #28
also, @mgiulio - as i said [on](https://twitter.com/callmecavs/status/729720364184506368) [Twitter](https://twitter.com/callmecavs/status/729717792749064192) - fantastic article. really well written, and I appreciate you analyzing and writing about my work. please let me know what you'd like to see in v1.0.0!

[2016-05-14 05:21] callmecavs commented on #26
please see #31, and leave your feedback!

[2016-05-14 05:21] #26 closed

[2016-05-14 05:21] callmecavs commented on #23
please see #31, and leave your feedback!

[2016-05-14 05:21] #23 closed

[2016-05-14 05:23] callmecavs commented on #16
@Heydon will be included in v1, behind a flag. the only reason for me disabling it by default is because it requires a CSS change to prevent the blue outline

[2016-05-14 05:23] #16 closed

[2016-05-14 05:23] callmecavs commented on #7
@JuhQ its not mentioned in #30, but id be curious to hear your thoughts on this, and how best to implement it

[2016-05-14 07:37] Heydon commented on #16
Okay, thanks for letting me know!

[2016-05-14 07:39] callmecavs commented on #16
@Heydon thanks for bringing it up, and hashing it out with me. my apologies for it taking so long to add

[2016-05-14 08:01] callmecavs commented on #31
**update:** 1, 2, and 4 are done. see the [v1.0.0 branch](https://github.com/callmecavs/jump.js/tree/v1.0.0)

the dist file is almost half the size (1.44kb vs 2.7kb) - compliments of the functional approach, and upgraded build system

the [gulpfile](https://github.com/callmecavs/jump.js/blob/v1.0.0/gulpfile.js) is now using [rollup](https://github.com/rollup/rollup) by @Rich-Harris. find more by h

[2016-05-14 08:14] mgiulio commented on #31
+1 :)

If I'll be able to find some time I'll try to help.

[2016-05-14 08:18] callmecavs commented on #31
@mgiulio you already helped by writing the [SitePoint article](http://www.sitepoint.com/smooth-scrolling-vanilla-javascript/). using the singleton pattern was your idea. it made so much sense, i had to implement it in v1.0.0

i appreciate both the article, and the thinking about how the library could be better. you'll be mentioned in the v1.0.0 release notes

[2016-05-14 08:20] mgiulio commented on #28
@callmecavs Glad you liked it!

Looking forward to v1.0.0.

I appreciate your efforts to revisit common UX patterns with vanilla JavaScript solutions. I've also enjoyed [Layzr](https://github.com/callmecavs/layzr.js).

[2016-05-14 08:31] callmecavs commented on #28
@mgiulio much appreciated sir.

i follow the "3 strikes rule" - write the same code 3 times, on 3 different websites, and it should probably be an open source library. common UX patterns typically fall into this category - relevant and needed on every site (way more than 3)

everything i make comes about because of that rule and/or frustration with current libraries that address the problem im try

[2016-05-24 09:46] gluons opened #33 "Bower request"
Please let **Jump.js** to be available on [Bower](http://bower.io/). :neutral_face:

[2016-05-24 14:02] callmecavs commented on #33
per #9 bower support isn't coming. if you really want to load Jump via a script tag, id recommend downloading the dist file.

[2016-05-24 14:02] #33 closed

[2016-06-07 23:11] TheTedAdams opened #34 "Instantiate code example in readme doesn't run"
// import Jump
    import Jump from 'jump.js'

    // create an instance
    const Jump = new Jump()

This code run through babel gets the error: `Module build failed: TypeError: [filenamehere]: Duplicate declaration "Jump"`

The const name can't match the name of the imported default export.

[2016-06-08 22:23] callmecavs commented on #34
Good catch. Should be:

[code]

Feel free to open a PR. Otherwise this will get fixed in the [v1.0.0 release](https://github.com/callmecavs/jump.js/issues/31).

[2016-06-09 17:33] #34 closed

[2016-06-13 19:13] nevinlaughlin opened #36 "adding a selector for target error"
I may have found a bug... trying to pass a selector in I get this error, Uncaught TypeError: target.getBoundingClientRect is not a function, because target is a string on line 20.

on line 20 of jump js
 should it be
`: this.options.offset + this.target.getBoundingClientRect().top;`
instead of
`: this.options.offset + target.getBoundingClientRect().top;`

http://codepen.io/nevinlaughlin/pen/zBqpwe

[2016-06-13 19:23] #36 closed

[2016-06-14 00:01] callmecavs commented on #36
@nevinlaughlin its addressed in the v1.0.0 branch 👍 not released yet (haven't had time) but the code is working, and available on that branch 🍻

[2016-06-20 14:05] nathanaelphilip opened #37 "t.getBoundingClientRect is not a function"
I’m using Vue.js, and set this up in a method:

[code]

the target is just a selector: '#selector'

[2016-06-21 16:57] callmecavs commented on #37
Here's the [MDN page](https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect).  Check the browser compatibility - its only IE9 plus (though I imagine Vue is as well).

Besides that, I've never used Vue, so I unfortunately can't help any further. This seems very specific to your use case/environment, so I'm going to close it. Good luck man.

[2016-06-21 16:57] #37 closed

[2016-06-22 21:39] mrksbnch opened #38 "Horizontal scrolling"
It seems as if support for horizontal scrolling is missing in `jumps.js`. Are there any plans to implement it?

[2016-06-22 21:54] mrksbnch commented on #31
Personally, I would love to see support for scrolling within an element. I don't see why this would bloat the library though. Instead of [`scrollTo()`](https://developer.mozilla.org/en/docs/Web/API/Window/scrollTo), you'd have to use [`scrollTop`](https://developer.mozilla.org/en/docs/Web/API/Element/scrollTop), but that's most likely done in a couple of extra lines. If it helps, I could create a

[2016-06-29 08:18] martin-svk commented on #31
What is the timeline in which we can expect the release of 1.0? Thanks

[2016-07-16 06:37] callmecavs commented on #31
@mgiulio @mrksbnch @martin-svk its been released! see the [release notes](https://github.com/callmecavs/jump.js/releases/tag/v1.0.0)

[2016-07-16 06:37] #31 closed

[2016-07-16 06:38] callmecavs commented on #38
Marked as an enhancement. This should be relatively easy to implement, given a parameter called `direction` or `axis`, that defaults to the `y` (up and down) direction.

[2016-07-16 06:42] callmecavs opened #41 "add tests"
any advice or pull requests in relation to adding a testing suite to this library are more than welcome, and would be appreciated.

because its dependent on the DOM being present, it will likely require a headless browser.

[2016-07-17 10:21] davereid91 opened #42 "Double clicking arrows causing animation to fire twice"
Hello,

I am not sure if this is an issue with the library itself or just with the demo page but double clicking the arrows causes the scrolling animation to replay twice. It will do the initial scroll down, jump back to the top and then scroll down again. Just thought I would give a heads up :)

[2016-07-18 12:05] yuraxdrumz commented on #42
Hey! just saw your little project, love the idea, a possible solution would be to disable the click button as soon as you click on it, and enable it after the the scroll has been completed, just an idea :)

[2016-08-25 17:58] bretkikehara commented on #7
@callmecavs What about the `jump` func returning a `cancelJump` func. Every requestAnimationFrame call saves its requestID to a top-most variable alongside `element`, `callback`, and etc.

IMO, this will allow the most flexibility without needing to understand jumps implementation.

[code]

[code]

[2016-08-25 19:19] jljorgenson18 commented on #7
You could just add this in jumper

[code]

And then do a check in the loop

[code]

That's how I did it in simplesmoothscroll and it has worked great.

[2016-08-25 20:17] bretkikehara commented on #7
Though that solution works for mouse scroll, there may be other events that should cancel the scroll as well. I would hate to add that in to the jump.js library because then we would have to add a config option and event handler for every case.

For example, what about canceling on touch? How is that implemented? With jQuery or another lib? Now we have a jQuery dependency for little value.

[2016-08-26 01:17] controversial opened #45 "CDN"
Is there a CDN-hosted copy of this library? With almost 2.5k stars, it seems like there should be...

[2016-08-28 22:47] controversial commented on #45
I got jump.js added to cdnjs [here](https://cdnjs.com/libraries/jump.js)

[2016-08-28 22:48] #45 closed

[2016-08-31 00:57] callmecavs commented on #45
thanks @controversial. following the lead of libraries like lodash, I'm trying to encourage people to consume the script using npm and a module bundling build step, rather than `<script>` tags and CDNs, but i appreciate the initiative.

btw, check out [unpkg](https://unpkg.com/#/) btw - it provides a CDN link for all packages on npm, pretty sweet

[2016-08-31 00:58] controversial commented on #45
Ok, thanks! I'll look into that.

On Tue, Aug 30, 2016 at 8:57 PM Michael Cavalea notifications@github.com
wrote:

[2016-08-31 01:03] callmecavs commented on #7
im going to do some thinking on this - id almost prefer not to bind anything to the scroll/touch events, because handlers tend to pile up on them if not careful, and can impact performance for minimal gain.

[2016-10-27 01:18] MilllerTime opened #46 "Rollup preset (in .babelrc) crashes Webpack builds"
Thanks for the elegant library! It does a wonderful job.

One issue: I can't bundle the jump.js module as-is. I'm using webpack and babel, and getting the following error:

[code]

The issue seems to be that my instance of babel sees your `.babelrc` file and tries to bundle your code using the rollup preset, which I don't have installed. If I delete your `.babelrc`, it compiles flawlessly.

Any ch

[2016-10-27 18:50] ChrisCinelli commented on #7
Setting **a** JS variable in **one** scroll handler is not going to degrade any performance.

[2016-10-27 19:23] bretkikehara commented on #7
@ChrisCinelli If I understand correctly, the perf discussion is more about where we should add event listeners, not setting 1 variable.

Let's assume that jump.js implements the `wheel` event. How would we clean up the event? What other events should jump.js accepts as part of its implementation? How can a user config some events to cancel the jump while ignoring the other events?

imo, there are

[2016-10-27 20:58] jljorgenson18 commented on #7
@bretkikehara Adding customization and leaving it up to the implementer is mainly beneficial if each implementer has a different use case for the library. Since there is only one primary use case (scrolling to an element in an efficient manner), I think that each implementer is going to end up trying to write the exact same code to try to solve this problem. Since that's the case, I think the cust

[2016-10-27 21:22] ChrisCinelli commented on #7
@jljorgenson18 In this sense, I like @bretkikehara branch at:  https://github.com/bretkikehara/jump.js

I documented at : https://github.com/ChrisCinelli/jump.js/tree/master#cancel-scrolling

[2016-10-28 01:14] bretkikehara commented on #7
@jljorgenson18 In most cases, I would agree that code duplication should be in the library if there is a bunch of duplication. In this case, a few lines of code is all that will be duplicated with more control over how it is used and how to clean it up. A `common use case` section in the readme should suffice to integrate with the wheel event handler.

[code]

[2016-10-29 02:48] dbartel commented on #46
Ran into this problem on something I was working on, turned out to be not too painful to fix. Made a pull request here #47

[2016-10-30 21:52] MilllerTime commented on #46
Looks excellent @dbartel! I didn't know babel config could live in package.json - good to know. I definitely appreciate the effort, hopefully it can be merged soon 👍

[2016-11-03 03:28] dbartel commented on #46
@MilllerTime turns out you also need to move es2015-rollup out of devDependencies to dependencies in package.json for npm to build this correctly - I had tested this just by copying the built file over instead of pulling it down from npm - the latest commit I pushed will fix this

If you need to use this change, you can pull down a specific commit for an npm module like this:

[code]

Keep in mind

[2016-11-04 05:29] MilllerTime commented on #46
Hmm. So now any user installing jump.js will have `es2015-rollup` added to their `package.json`? If rollup is only needed to build the project, it seems like a nonessential dependency. I'm able to compile the jump.js module as a part of my project without rollup, alternatively using webpack. I don't really want rollup to be included in my dependencies just because of this library. Is there a way t

[2016-12-09 05:34] callmecavs commented on #46
@MilllerTime @dbartel ill address this sooner rather than later - in the midst of reworking the build system of my projects to use webpack2 instead of rollup.  Rollups treeshaking and scope collapsing will be coming to webpack2 soon - these differences were the reason I originally chose it over webpack.

Thank you both for your patience, and for hashing out a fix here and in the PR. will update an

[2016-12-09 05:36] callmecavs commented on #42
@davereid91 the best solution here is to handle throttling the click event externally, as @yuraxdrumz describes. I built the demo page in a hurry 😉, small oversight on my part haha

[2016-12-09 05:36] #42 closed

[2016-12-15 16:31] JasonStoltz commented on #37
I ran into the same issue. For me, it was happening as a result of running the package through the Webpack `UglifyJsPlugin`.

Specifically, it looked like after uglification it was hoisting all of the `top` calls [here](https://github.com/callmecavs/jump.js/blob/master/src/jump.js#L111) to the top of the function, before any of the case statements could be evaluated, the strings and `undefined`s w

[2016-12-15 17:57] callmecavs commented on #37
thanks for dropping a line about using with webpack - i know the dist files have caused webpack users some trouble. working on fixing that

[2016-12-20 14:43] danfri86 opened #49 "Import in Angular 2 fails. "Cannot find module""
I'm trying to use jump.js in my Angular 2 app. The scrolling actually works but I get an error from my IDE saying "Cannot find module 'jump'".

I'm installing with node `$ npm install jump.js --save-dev`.

In my system.config.js:
[code]

I'm then importing in my component with `import jump from 'jump';`and I've also tried `import * as jump from 'jump';`.

Since I get an error I can't compile AoT s

[2017-01-05 07:40] austindebruyn commented on #49
@danfri86 `import jump from 'jump.js';`?

[2017-01-05 11:33] josdejong opened #50 "Custom scroll container"
Thanks for writing jump.js, it has a nice API!

I have a use case where I would like to scroll not the window as a whole, but the contents of a specific div. It would be great if I could configure a custom container element rather than using `window`. As far as I can see that's currently not possible or am I overlooking something?

[2017-01-05 12:26] josdejong commented on #50
I see an old PR, #24, adding support for a custom scroll container. Would love to see that in the library :D

[2017-01-05 13:19] josdejong commented on #50
I created a PR too, see #51

[2017-01-08 21:43] callmecavs commented on #49
@danfri86 @austindebruyn updated the `dist` files in the latest release (v1.0.2) - assuming the lib is imported correctly (as in the comment above) any errors should be gone.

[2017-01-08 21:43] #49 closed

[2017-01-08 21:45] callmecavs commented on #46
@MilllerTime @dbartel updated the dist files in the latest release - shouldn't be any problems with imports anymore. sorry this took so long

[2017-01-08 21:45] #46 closed

[2017-01-09 10:45] MilllerTime commented on #46
Awesome, no more errors here. Thank you for resolving this!

[2017-01-09 16:27] callmecavs commented on #46
@MilllerTime no problemo, thanks for confirming the fix. sorry it took me forever.

[2017-01-22 16:47] PascalAOMS opened #52 "Function not found due to wrong path"
When installing via NPM or in my case Yarn it does not find the correct file to import.

`import jump from 'jump.js'` does not find anything since there is no `index.js` installed.

Editing the path to `''jump.js/dist/jump'` does work.

Furthermore the downloaded files are all in ES5. There is no `src` folder at all.

[2017-01-23 10:12] timseverien commented on #7
If you don't want to include event handlers in the core library, I think @bretkikehara's suggestion is a good one. Alternatively, you could provide an setting, much like `a11y`.

[2017-01-24 16:34] callmecavs commented on #52
@PascalAOMS no `index.js` is required, neither are `src` files. the downloaded files should be as they are (ES5), otherwise your build process would have to transpile your `node_modules`, which is undesirable and unmaintainable, because of the likelihood of library authors using different `babel` configs.

all the [fields in the `package.json`](https://github.com/callmecavs/jump.js/blob/master/pac

[2017-01-24 16:34] #52 closed

[2017-01-24 16:38] PascalAOMS commented on #52
Thank you very much for the explanation.

[2017-01-24 16:39] callmecavs commented on #52
@PascalAOMS no problem. feel free to post your webpack/browserify config - id be happy to take a look

[2017-01-24 16:51] PascalAOMS commented on #52
You can find my `webpack.config.js` [here](https://gist.github.com/PascalAOMS/a861a98e2381b0909c6cde56775ec3a7).

Thanks!

[2017-01-24 17:27] callmecavs commented on #52
@PascalAOMS my guess is that something with your directory structure is throwing off webpack and preventing it from finding your `node_modules`.

the way you're aliasing `vue` looks like its because of a similar problem you had importing it. try adding a `root` to your `resolve` object, as in the following, and hopefully you wont need aliases (unless those are there for a different reason):

[code

[2017-01-24 18:51] PascalAOMS commented on #52
I am using Webpack 2. You gave me a good tip with `root` though.

The equivalent would be
[code]
But that does not seem to work either.

[2017-01-24 23:33] callmecavs commented on #52
@PascalAOMS im stumped. this is [my boilerplate for webpack 2](https://github.com/callmecavs/bandito), itll generate a directory for you. using that structure, everything works for me without even specifying the root directory or modules directory 🤕

here's a link to the [webpack config](https://github.com/callmecavs/bandito/blob/master/template/webpack.config.js) (its in the `template` folder)

[2017-01-26 18:55] PascalAOMS commented on #52
Using `const jump = require('jump.js').default` works as well.

No idea why though. Yea...

[2017-02-03 11:47] astoilkov commented on #50
Any plans for this to land in one of the next versions?

[2017-02-13 13:01] powerbuoy commented on #50
Yes please merge this PR :)

[2017-03-13 05:05] necrower opened #53 "No module export"
Can't import cause no module are exported.

[2017-03-13 14:09] callmecavs commented on #53
@necrower have a feeling this is specific to your build configuration - what tools are you using, and how are you including jump?

[2017-03-13 14:21] necrower commented on #53
I've tried use with Angular 2 new project.

[2017-03-13 17:53] callmecavs commented on #53
@necrower probably going to need more detail than that - especially considering this is a vanilla JS project and you're asking about use with Angular.

again, what tools, how is the library included, etc

[2017-03-13 17:53] #53 closed

[2017-03-31 21:48] nickthakkar opened #54 "It is a nightmare to use this with my angular 2 application using system js for bundling"
**Here is how my system js config looks:**
 System.config({
      defaultJSExtensions: true,
      map: {
        '@angular':    'node_modules/@angular',
        'rxjs':        'node_modules/rxjs',
        'moment':      'node_modules/moment',
        'lodash':      'node_modules/lodash',
        'ts':          'node_modules/plugin-typescript/lib/plugin.js',
        'typescript':  'node_modules/ty

[2017-03-31 22:01] #54 closed

[2017-03-31 22:04] callmecavs commented on #54
great example here of how not to get help here with something that is **particular to your use case**.

also, read the README. for starters, check your `import` statement. the package name is incorrect, and there's only 1 default export. so, at the very least, this:

[code]

has 2 errors, and should be:

[code]

try making sure your importing correctly before dumping in your system JS config unfor

[2017-03-31 22:32] nickthakkar commented on #49
@callmecavs tried exactly what you are suggesting. But using` import jump from 'jump.js';` simply won't work since he has word 'jump' in his system js mapping. I have followed its Readme but that did not help me fixing this issue.  I will appreciate if you can look into this specific case and provide some working solution.

[2017-04-12 12:53] niksy commented on #50
Any chance of getting this merged in? Can we do something to help with this?

[2017-04-19 21:57] hendrikeng commented on #42
hey there, i am having a similar issue, cant i i.e set a variable animationInProgress = true , and callback it to false if the scrollevent is finished? i can't make it work somehow.

[2017-05-02 09:24] joxerTMD opened #55 "Sometimes callback executing before scrolling has finished"
Hello! I've found i little bug with callback mechanism.
In my app i'm relying on `window.addEventListener('scroll', /** my super code **/ )`.
I also relying on jumper's callback option, and sometimes callback executes before the last scroll event happens.
See: https://jsfiddle.net/mxqfjLge/ (I hope it will reproduce on your screen resolution)
![image](https://cloud.githubusercontent.com/assets/148

[2017-05-03 14:27] antoinerousseau opened #57 "prevent calling jump() when current jump is not finished"
I created this wrapper, but it could be included in the lib:
[code]

[2017-05-14 12:55] mikebywaters commented on #50
Disappointed this hasn't been addressed. PR #24 doesn't appear to bloat the library which was the initial concern, and this feature is necessary for SPAs

[2017-05-15 08:37] powerbuoy commented on #50
Yea, I had to switch to Velocity.js which is unfortunate as it comes with plenty of features I never use.

[2017-06-07 01:30] amdad commented on #7
Thanks guys for your snippets.

[2017-07-22 01:18] Aminta opened #58 "Is it possible to use Jump to replace the default behavior for the anchors?"
Like: https://github.com/flesler/jquery.localScroll

"If you want to convert the links from ALL over the page, with the same settings, just call $.localScroll(...) instead of $(...).localScroll(...)"

Thanks!

[2017-08-04 20:08] julmot opened #59 "Feature Request: Make target optional"
It would be an alias for `jump('body');`.

[2017-08-04 20:08] julmot commented on #59
It would be an alias for `jump('body');`.

[2017-08-04 20:13] julkue commented on #8
@callmecavs The docs still say:

However, at least the npm package is shipped with already transpiled files.

[2017-08-04 20:14] julmot opened #60 "Document why tabindex is necessary when a11y: true"
This would be helpful I think.

[2017-08-04 20:15] julmot opened #61 "Option to prevent anchor from beeing added to the URL?"
I don't need the anchor as hash in the URL as this means that my users need to go back (browser back button) multiple times – which I don't want for usability reasons. Is there an option to prevent the anchor from being added to the URL?

[2017-08-04 20:16] callmecavs commented on #61
you need the `event.preventDefault` in your click handler - this isn't caused by `jump`

[2017-08-04 20:16] #61 closed

[2017-08-04 20:17] callmecavs commented on #59
going to pass on this - this is the same as writing `jump(document.body)`

[2017-08-04 20:17] #59 closed

[2017-08-04 20:25] callmecavs commented on #60
happy to look at a PR that adds this documentation to the [a11y section](https://github.com/callmecavs/jump.js#a11y) of the README.

the reason is [here]() on MDN. quoting that page:

more context from @Heydon on #16

[2017-08-04 20:28] callmecavs commented on #58
I'm not sure - I've never used that plugin.  Out of the box, `jump` doesn't do anything automatically, and it looks like `localScroll` tries to provide automatic scroll management of hash links.

[2017-08-04 20:28] #58 closed

[2017-08-04 20:31] julkue commented on #60
I do understand the meaning of tabindex, but I don't understand why a section you've just scrolled to shouldn't be reachable by keyboard navigation?

[2017-08-04 20:31] julkue commented on #60
However, when I have time I will read through the issue you've posted.

[2017-08-04 20:38] callmecavs commented on #60
@julmot as I understand it, `tabindex` of `-1` programmatically forces the focus.  you can still apply a `tabindex` to the element - it'll just be overridden to force focus when that element is jumped to

@Heydon does a nice job of painting the full picture in that other issue

[2017-08-10 07:33] joxerTMD commented on #55
Sry, is anybody here? This bug is significant to me. I'm of cause already using my own patched version of the library, but it would be great to use the offical one. If my solution makes no sense or incorrect it would be nice to know any other workaround :)

[2017-08-18 17:25] ArmorDarks opened #62 "Error in case of jumping to non-existing target"
Hi

Thanks for the great lib!

Following code:

[code]

will result in quite obscure error:

[code]

I think error can be improved and if there is no target, it should state that no valid target has been received.

Another thing — is it per design that jump.js errors if query doesn't much any element? Though, it is workaraundable, just want to ensure that it isn't a bug.

Thanks!

[2017-08-21 20:21] julmot opened #63 "Bug in Chrome With Small Viewports -- Jump Effect with Flicker and Ignoring Offset"
I've encountered a very strange scenario. I'd classify it as jump.js bug as I could reproduce it even in a minimal environment without any custom JS and CSS. The interesting thing is that it only occurs in Chrome and only in small/medium viewports. There's no problem in other viewports or other browser like e.g. Firefox. I've found it in cross-browser tests in Chrome on Android, but could also rep

[2017-08-24 17:35] julkue commented on #63
I can now confirm that this behavior also exists in the latest Safari on iOS (iPhone 7).

![safari-ios-jumpjs](https://user-images.githubusercontent.com/8310677/29679951-5e67e232-8903-11e7-95ca-1e67dba78db9.gif)

[2017-08-29 09:52] shooterbret opened #64 "Scrolling Breaks When CSS Has Overflow."
So i was recently making a page and wanted a child div to become a background and have scrolling at the same time. So i used the CSS seen inside #Child and once i hooked up jump.js i noticed the scroll did not work. Later i found out that css property overflow breaks scrolling. Once the overflow property is removed, The scrolling works again however CSS is broken.

Demo: http://jsbin.com/peramitik

[2017-08-31 11:45] julmot commented on #63
Could you also reproduce this problem @callmecavs?

[2017-09-02 11:07] shooterbret commented on #64
This was addressed by issue #50 and was fixed in MilllerTime's fork.
https://github.com/MilllerTime/jump.js

[2017-09-02 11:08] #64 closed

[2017-09-30 18:40] aouerfelli opened #65 "Prevent jumping when position is the same"
I don't know if this is intentional, but when jumping it might be a good idea to check if the start and end positions are the same before continuing. Seems kind of redundant when you have to wait for the whole duration without anything happening.

[2017-10-10 08:53] julkue commented on #63
Can you also reproduce this problem @callmecavs?

[2017-10-17 05:38] TingAli opened #66 "MIT Licence not assigned on GH"
The licence is at the bottom of the readme but not at the top navigation tabs of the repository. Please can you assign the licence of (current) MIT to the repo?

Will help others to make things clearer, cheers 👍

[2017-12-12 09:56] proov opened #67 "Can we use GSAP Easings with Jump.js ?"
I'm already using GSAP on my project, i'd like to use their easings. I tried this but it doesn't seems to work 😁

[code]

[2017-12-12 18:19] callmecavs commented on #67
@proov cant say for certain because I dont use GSAP - that being said there are a bunch of easing functions [here](https://github.com/jaxgeller/ez.js/blob/master/ez.js) that follow the parameter order of the default easing used in the library.

[2017-12-12 18:19] #67 closed

[2017-12-13 09:31] proov commented on #67
Yeah i used `ez.js`, nice package !

[2018-01-30 16:41] callmecavs commented on #66
all set - thanks for mentioning this. props to GitHub for making this really easy and visible

[2018-01-30 16:41] #66 closed

[2018-02-06 12:30] Heydon commented on #16
0pp0p00p00pp00p00000000
---------- Forwarded message ----------
From: "Sidebar" <hello@sidebar.io>
Date: 29 Dec 2017 17:04
Subject: Get Taxi, Trainline UX, Range Input, Worst Reviewed, 2017 Case
Studies
To: <heydon@heydonworks.com>
Cc:

The 5 best design links, every day. Curated by a selection of great
editors.
[image: Sidebar]
<https://sidebar.us2.list-manage.com/track/click?u=b5af47765edbd2fc17

[2018-02-06 12:37] Heydon commented on #16
Ppp0
---------- Forwarded message ----------
From: "Trainline" <trainline@news.thetrainline.com>
Date: 14 Jan 2018 6:08 p.m.
Subject: Your journey to London Liverpool Street tomorrow
To: <heydon@heydonworks.com>
Cc:

Important last minute information for your journey from Norwich to London
Liverpool Street
View online
<http://t.news.thetrainline.com/r/?id=h393d4d79,394628,23dfe519&utm_medium=email

[2018-02-07 05:09] tr1s opened #68 "Doesn't work with gulp?"
Does this not work with gulp? I'm trying everything and I just keep getting a 'jump is not defined' error.

[2018-02-20 18:42] callmecavs commented on #68
Make sure you `import`/`require` like so:

[code]

If that isn't the fix, it's likely something else with how your build system is setup.

[2018-02-20 18:42] #68 closed

[2018-02-20 18:44] #60 closed

[2018-02-28 14:19] GoodJeans opened #70 "Help needed with angular"
Hi I'm new to development,
I'm trying to integrate this API to my Angular project on visual studio.
The first step I did was npm install jump.js --save, to my node_modules file.
Second step import jump from 'jump.js' to my app.module.ts
Third step, declare jump class at import:[jump] in app.module.ts.
my angular is not able to run after that.

Is this API angular friendly?

[2018-11-07 07:10] stratboy opened #71 "An old scholl version, really.."
Hi, your script is stellar, thank you. But I think you should really release even an 'old school', non-modern workflows, where old school scripts are used as well and mergerd together. It's really a pity to make it unusable in such environments.

[2018-11-07 21:51] callmecavs commented on #71
@stratboy if by old school you mean using it as a `script` tag without running a module bundler, just use it via [unpkg](https://unpkg.com/#/).

put this at the bottom of your HTML document, just before the `</body>` tag:

[code]

and the library will be available on the `window` object as `Jump`.

this works for most packages on npm - just keep in mind distribution files might not always be compi

[2018-11-07 21:51] #71 closed

[2018-11-09 11:29] stratboy commented on #71
So, I need to merge js files, so I exctracted the unpkg code into a jump.js file and merged it on my main js file (loaded in footer of course).
For some reason, easeInOutQuad results undefined. I don't know why, it's in the code, and if I trace it from jump.js I see it in console, but it's undefined when I later call Jump.

Michael Cavalea ha scritto:

[2019-02-06 18:12] karltaylor commented on #50
Would be great to get this merged for @mikebywaters reasonings. I have a div that I want to scroll instead of window.

[2019-04-10 19:45] macedomauriz commented on #50
Please merge this PR!

[2019-06-05 07:44] Leesson commented on #50
Please merge this PR!

[2019-10-03 14:25] kfeng0806 commented on #38
Is there any update of this issue?

[2019-11-28 17:49] michaelpumo commented on #50
Any idea why this PR is not getting merged? Seems like a useful one!

[2020-02-18 17:16] michaelpumo commented on #50
For what it's worth for anyone else coming across here, I personally decided to use Anime.js (only around 6KB).

See an example of how to smooth scroll here: https://codepen.io/rukiadia/pen/qYyLdw

As you can see a custom container element is quite easy to setup.

Since this PR hasn't been merged or looked at for so long I worry that something has happened to the original creator. I hope he/she is

[2020-03-02 22:04] xrzhuang commented on #62
Has anyone else also noticed what `jump(undefined!)` does? It seems to me like it jumps to the bottom of the page?

[2020-05-09 04:02] shanelbb opened #74 "Can't scroll back up the page"
I added jump to my project and it worked fine for scrolling to the div I specified. I had it set to scroll to a form with an input and a text field. After I've typed into the text field and then try to scroll back up the page something is preventing me from scrolling to the top of the page. I had to click around the page or attempt to scroll several times before it finally "releases" and lets me s

[2020-05-21 14:29] johann-su commented on #38
Is this feature going to be implemented?

[2020-07-01 00:16] ramirezcgn opened #75 "Lazy loading images"
Hi, can you add an "step" option (like jQuery.animate) in the library to re-calculate the final position if there are lazy loading images in the page?

Regards